<app-header></app-header>

<!-- header-content-->
<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details <div class="emp-count">employeeCount</div>
    </div>
    
    <a class="add-button" routerLink="/add-employee">
        <img src="../assets/icons/add-24px.svg" alt="">Add User</a>
    </div>
  
  
    <div class="table-main">
      <table id ="table-display" class="table">
          <tr>
              <th></th>
              <th>Name</th>
              <th>Gender</th>
              <th>Department</th>
              <th>Salary</th>
              <th>Start Date</th>
              <th>Actions</th>
          </tr>
          <tr >
              <td>
                  <img class="profile" src="" alt="">
              </td>
              <td>Akshay</td>
              <td>Male</td>
              <td>
                  <div class="dept-label">
                      Hr,Manager
                  </div>
              </td>
              <td>20000</td>
              <td>12-30-65</td>
              <td>
                  <img id="" src="../assets/icons/delete-black-18dp.svg" alt="delete">
                  &nbsp;
                  <img id="" src="../assets/icons/create-black-18dp.svg" alt="edit">
              </td>
          </tr>
      </table>  
  </div>
  
</div>

